# Ignore local virtualenvs and caches
.venv
__pycache__
*.pyc

# Git metadata
.git
.gitignore

# Local data and indexes
data

# OS files
.DS_Store


frontend-react/node_modules
frontend-react/.next
frontend-react/out
frontend-react/.vercel